/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.calendarWeek {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: 1px solid red;
}

.calendarWeek .containerDays {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 5.5rem;
  grid-template-rows: 5.5rem;
  -webkit-padding-end: 1rem;
  padding-inline-end: 1rem;
}

.calendarWeek .containerDays .day {
  padding: 0;
  border: none;
  background: transparent;
}

.calendarWeek .containerDays .day h3 {
  font: var(--body1-medium);
  color: var(--gray20);
  margin: 1.5rem auto 0 auto;
}

.calendarWeek .containerDays .day p {
  font: var(--subtitle-subtitle1);
  color: var(--gray20);
  margin: auto;
  cursor: pointer;
  inline-size: 2.75rem;
  block-size: 2.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
}

.calendarWeek .containerDays .day p:hover {
  background: var(--gray10);
}