/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.containerTime {
  -webkit-padding-end: .4rem;
  padding-inline-end: .4rem;
  inline-size: auto;
  block-size: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1.5rem (4rem)[24];
  grid-template-rows: 1.5rem repeat(24, 4rem);
  overflow: auto;
}

.containerTime::-webkit-scrollbar {
  inline-size: .6rem;
}

.containerTime::-webkit-scrollbar-thumb {
  background: #c4c7c9;
  border-radius: 1rem;
}

.hour {
  position: relative;
}

#firstChild {
  position: relative;
  inset-block-start: 0;
  inset-inline-start: 1.6rem;
  font-size: .7rem;
}

.containerTime span {
  font: var(--body3-regular);
  color: var(--gray20);
  position: relative;
  inset-block-start: 3.1rem;
  inset-inline-start: 2.1rem;
  z-index: -1;
}

.hour hr {
  margin: 0;
  border: 0;
  inline-size: 1rem;
  block-size: 1px;
  background: var(--gray20);
  position: absolute;
  inset-block-end: 0;
  inset-inline-end: 0;
  z-index: -1;
}

.containerTask {
  -webkit-border-start: 1px solid var(--gray20);
  border-inline-start: 1px solid var(--gray20);
  -webkit-border-after: 1px solid var(--gray20);
  border-block-end: 1px solid var(--gray20);
  cursor: pointer;
}

.containerTask:hover {
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  background: var(--gray10);
}

.currentHour {
  background: red;
  inline-size: 100%;
  block-size: .18rem;
  position: relative;
  inset-block-start: calc(50% - .18rem);
}

.currentHour::before {
  content: "";
  background: red;
  display: block;
  block-size: .5rem;
  inline-size: .5rem;
  position: relative;
  inset-block-start: -.15rem;
  inset-inline-start: -.4rem;
  border-radius: 50%;
}