.containerTime {
  padding-inline-end: .4rem;
  inline-size: auto;
  block-size: 100vh;
  display: grid;
  grid-template-columns: 5rem repeat(7, 1fr);
  grid-template-rows: 1.5rem repeat(26, 4rem);
  overflow: auto;
}

.containerTime::-webkit-scrollbar {
  inline-size: .6rem;
}

.containerTime::-webkit-scrollbar-thumb {
  background: #c4c7c9;
  border-radius: 1rem;
}

.hour {
  position: relative;
}

#firstChild {
  position: relative;
  inset-block-start: 0;
  inset-inline-start: 1.6rem;
  font-size: .7rem;
}

.containerTime span {
  font: var(--body3-regular);
  color: var(--gray20);
  position: relative;
  inset-block-start: 3.1rem;
  inset-inline-start: 2.1rem;
  z-index: -1;
}

.hour hr {
  margin: 0;
  border: 0;
  inline-size: 1rem;
  block-size: 1px;
  background: var(--gray20);
  position: absolute;
  inset-block-end: 0;
  inset-inline-end: 0;
  z-index: -1;
}

.containerTask {
  border-inline-start: 1px solid var(--gray20);
  border-block-end: 1px solid var(--gray20);
  cursor: pointer;
}

.containerTask:hover {
  transition: all .3s;
  background: var(--gray10);

}