.calendarWeek {
  flex: 1;
}

.calendarWeek .containerDays {
  display: grid;
  grid-template-columns: 5rem repeat(7, 1fr);
  grid-template-areas: ". DOM LUN MAR MIE JUE VIE SAB""GMT . . . . . . .";
}

.calendarWeek .containerDays .day {
  padding: 0;
  border: none;
  background: transparent;
}

.calendarWeek .containerDays .day h3 {
  font: var(--body1-medium);
  color: var(--gray20);
  margin: 1.5rem auto 0 auto;
}

.calendarWeek .containerDays .day p {
  font: var(--subtitle-subtitle1);
  color: var(--gray20);
  margin: auto;
  cursor: pointer;
  inline-size: 2.75rem;
  block-size: 2.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.calendarWeek .containerDays .day p:hover {
  background: var(--gray10);
}