.containerDate {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.containerDate h2 {
  color: var(--gray30);
  font: var(--subtitle-subtitle1);
  margin: 0 .5rem;
  white-space: nowrap;
}

.buttonCurrently p {
  margin: 0;
  font: var(--button-button);
  color: var(--gray30);
}

.buttonNav {
  display: flex;
}

.buttonPrevious, .buttonFollowing {
  background: transparent;
  border: none;
  cursor: pointer;
  block-size: 2rem;
  inline-size: 2rem;
  border-radius: 50%;
}
.buttonPrevious a, .buttonFollowing a{
  text-decoration: none;
  color: black;
}


.buttonPrevious:active, .buttonFollowing:active{
  transform: scale(.89);
}

.buttonPrevious:hover, .buttonFollowing:hover{
  background: var(--gray10);
}