.containerSecond {
  display: flex;
  align-items: center;
  inline-size: 9.0625rem;
  gap: 3rem;
  position: relative;
}

.containerSecond .buttonCalendar {
  inline-size: 4.0625rem;
  padding-inline-start: 0.75rem;
  padding-inline-end: 0.2rem;
  user-select: none;
  outline-style: none;
  stroke: red;
  appearance: none;
}

.select_arrow {
  position: absolute;
  inset-inline-end: 6rem;
  inset-block-start: 0.25rem;
  pointer-events: none;
}

.select_arrow i{
  font-size: 0.5rem;
}