.containerContact {
  block-size: 2.5rem;
  background: var(--gray10);
  border-start-start-radius: 0.25rem;
  border-start-end-radius: 0.25rem;
  position: relative;
  display: flex;
  align-items: center;
}

.containerContact .icon-Icon-users {
  position: absolute;
  inset-inline-start: 1rem;
}

.containerContact input {
  background: transparent;
  border: 0;
  border-block-end: 1px solid var(--gray10);
  padding: 0;
  block-size: 1.25rem;
  inline-size: calc(100% - 2.5rem);
  padding: .625rem 0 .625rem 2.5rem;
  outline: none;
  cursor: pointer;
}

.containerContact input::placeholder {
  content: 'HOla';
}

.containerContact input:focus {
  border-block-end: 1px solid var(--blue10);
}