.containerHome {
  display: flex;
  align-items: center;
}

.containerHome .iconSidebar {
  inline-size: 3rem;
  block-size: 3rem;
  border-radius: 50%;
}

.containerHome .iconSidebar:active{
  transform: scale(.89);
}

.containerHome .iconSidebar:hover{
  background: var(--gray10);
}

.containerHome .icon-side-bar {
  font-size: 1.3rem;
}

.containerHome button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.containerHome a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.containerHome h1 {
  display: inline-block;
  margin: 0;
  color: var(--gray30);
  font-weight: 700;
  font-size: 1.375rem;
}