.containerSecond {
  display: flex;
  align-items: center;
  inline-size: 9.0625rem;
  gap: 1rem;
  position: relative;
}

.buttonCalendar {
  inline-size: auto;
  padding-inline-start: 0.75rem;
  padding-inline-end: 1rem;
  user-select: none;
  outline-style: none;
  stroke: red;
  appearance: none;
}

.select_arrow {
  position: relative;
  pointer-events: none;
}

.select_arrow i{
  font-size: 0.5rem;
}