.reminder {
  border-block-end: 1px solid #c3c8cc;
  border-inline-start: 1px solid #c3c8cc;
  cursor: pointer;
  position: relative;
}

.reminder .note {
  display: none;
}

.reminder:hover .note {
  display: block;
  transform: scale(1.03);
}

.reminder .note::before {
  content: url(/icon/Icon-plus.svg);
  position: relative;
  inset-block-start: 30%;
}

.reminder .note:active {
  transform: scale(1);
}

.reminder .note {
  background: #d2e3ff;
  inline-size: 100%;
  block-size: 100%;
  text-align: center;
  box-shadow: 0 0 10px rgb(0, 0, 0, .1);
}

.reminder .noteAdd {
  background: var(--blue10);
  color: var(--white);
  font: var(--body2-medium);
  border-radius: 0.25rem;
  padding: 0.1rem;
  margin: 0.2rem;
  position: relative;
  inset-inline-start: -0.5rem;
  overflow: hidden;
}

.reminder .noteAdd p {
  margin: 0;
  white-space: nowrap;
  inline-size: 1rem;
}