@import url(containerFirst.css);
@import url(containerSecond.css);

header {
  grid-area: header;
  border-block-end: 1px solid #F1F3F4;
}

.navHome {
  display: flex;
  align-items: center;
  justify-content: space-between;
  block-size: auto;
  padding: 0 1.5rem;
}