.miniCalendar {
  border: 1px solid red;
}

.miniCalendar .month {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.miniCalendar h2 {
  font: var(--body1-medium);
  margin: 0;
}

.miniCalendar .week {
  font: var(--body3-regular);
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-template-rows: 1.5rem;
  border: 1px solid red;
}

.miniCalendar .week span {
  place-self: center;
}

.miniCalendar .days {
  display: grid;
  grid-template-columns: repeat(7, 1.86rem);
  grid-template-rows: repeat(6, 1.86rem);
  font: var(--body3-medium);
}

.miniCalendar .days .dayMini-calendar {
  border-radius: 50%;
  cursor: pointer;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.miniCalendar .days .dayMini-calendar:hover {
  background: var(--gray10);
}