.myCalendar {
  border: 1px solid red;
}

.myCalendar details summary {
  font: var(--Body1-Medium);
  color: var(--gray30);
  margin: 0 0 1rem 0;
  cursor: pointer;
  user-select: none;
}

.myCalendar details summary {
  list-style: none;
  position: relative;
}

.myCalendar-select {
  display: flex;
  gap: 0.25rem;
  position: relative;
  margin: .5rem 0 0.75rem 0;
  border: 1px solid red;
}

.myCalendar-select:nth-of-type(4) {
  margin-block-end: 0;
}

.myCalendar-select label {
  user-select: none;
  cursor: pointer;
}