@import url(mini-calendar.css);
@import url(container-contact.css);
@import url(my-calendar.css);

.sideBar {
  -webkit-transition: inline-size .3s;
  -o-transition: inline-size .3s;
  transition: inline-size .3s;
  overflow-y: scroll;
  inline-size: 257px;
}

.sideBar:hover.sideBar::-webkit-scrollbar-thumb {
  background: #c4c7c9;
}

.sideBar::-webkit-scrollbar {
  inline-size: .4rem;
}

.sideBar::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 1rem;
}

.wrapperSideBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  white-space: nowrap;
}