@import url(mini-calendar.css);
@import url(container-contact.css);
@import url(my-calendar.css);
.sideBar {
  transition: all .5s;
}

.wrapperSideBar {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  white-space: nowrap;
}

.buttonCalendar.isPlus{
  position: relative;
  z-index: 2;
}