@import url(mini-calendar.css);
@import url(container-contact.css);
@import url(my-calendar.css);
.sideBar {
  transition: inline-size .3s;
  overflow-y: scroll;
}

.sideBar:hover.sideBar::-webkit-scrollbar-thumb {
  background: #c4c7c9;
}

.sideBar::-webkit-scrollbar {
  inline-size: .4rem;
}

.sideBar::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 1rem;
}

.wrapperSideBar {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  white-space: nowrap;
}

.buttonCalendar.isPlus {
  position: relative;
  z-index: 2;
}