@import url(side-bar.css);
@import url(calendar-week.css);
@import url(calendar-time.css);

.calendar {
  grid-area: calendar;
  display: flex;
  position: relative;
  inset-inline-start: 0px;
}