.containerSecond {
  display: flex;
  align-items: center;
  inline-size: 9.0625rem;
  gap: 1rem;
  position: relative;
}

.buttonCalendar.select {
  inline-size: auto;
  padding-inline-start: 0.75rem;
  padding-inline-end: 1rem;
  user-select: none;
  outline-style: none;
  appearance: none;
  border-radius: 1rem;
  text-align: center;
}

.buttonCalendar option {

}