@import url(container-first.css);
@import url(container-second.css);

header {
  grid-area: header;
  border-block-end: 1px solid #F1F3F4;
  display: flex;
}

.navHome {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}