
.miniCalendar {
  -webkit-padding-before: 2.5rem;
  padding-block-start: 2.5rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.miniCalendar .month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.miniCalendar h2 {
  font: var(--body1-medium);
  margin: 0;
  -webkit-margin-start: .5rem;
  margin-inline-start: .5rem;
}

.miniCalendar .week {
  font: var(--body3-regular);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1.86rem)[7];
  grid-template-columns: repeat(7, 1.86rem);
  -ms-grid-rows: 1.5rem;
  grid-template-rows: 1.5rem;
}

.miniCalendar .week>*:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.miniCalendar .week>*:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.miniCalendar .week>*:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.miniCalendar .week>*:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}

.miniCalendar .week>*:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.miniCalendar .week>*:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
}

.miniCalendar .week>*:nth-child(7) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.miniCalendar .week span {
  -ms-grid-row-align: center;
  -ms-grid-column-align: center;
  place-self: center;
}

.miniCalendar .days {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1.86rem)[7];
  grid-template-columns: repeat(7, 1.86rem);
  -ms-grid-rows: (1.86rem)[6];
  grid-template-rows: repeat(6, 1.86rem);
  font: var(--body3-medium);
}

.miniCalendar .days>*:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.miniCalendar .days>*:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.miniCalendar .days>*:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.miniCalendar .days>*:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}

.miniCalendar .days>*:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.miniCalendar .days>*:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
}

.miniCalendar .days>*:nth-child(7) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.miniCalendar .days>*:nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.miniCalendar .days>*:nth-child(9) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.miniCalendar .days>*:nth-child(10) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.miniCalendar .days>*:nth-child(11) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}

.miniCalendar .days>*:nth-child(12) {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
}

.miniCalendar .days>*:nth-child(13) {
  -ms-grid-row: 2;
  -ms-grid-column: 6;
}

.miniCalendar .days>*:nth-child(14) {
  -ms-grid-row: 2;
  -ms-grid-column: 7;
}

.miniCalendar .days>*:nth-child(15) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.miniCalendar .days>*:nth-child(16) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.miniCalendar .days>*:nth-child(17) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.miniCalendar .days>*:nth-child(18) {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
}

.miniCalendar .days>*:nth-child(19) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.miniCalendar .days>*:nth-child(20) {
  -ms-grid-row: 3;
  -ms-grid-column: 6;
}

.miniCalendar .days>*:nth-child(21) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}

.miniCalendar .days>*:nth-child(22) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}

.miniCalendar .days>*:nth-child(23) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
}

.miniCalendar .days>*:nth-child(24) {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
}

.miniCalendar .days>*:nth-child(25) {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
}

.miniCalendar .days>*:nth-child(26) {
  -ms-grid-row: 4;
  -ms-grid-column: 5;
}

.miniCalendar .days>*:nth-child(27) {
  -ms-grid-row: 4;
  -ms-grid-column: 6;
}

.miniCalendar .days>*:nth-child(28) {
  -ms-grid-row: 4;
  -ms-grid-column: 7;
}

.miniCalendar .days>*:nth-child(29) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.miniCalendar .days>*:nth-child(30) {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
}

.miniCalendar .days>*:nth-child(31) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.miniCalendar .days>*:nth-child(32) {
  -ms-grid-row: 5;
  -ms-grid-column: 4;
}

.miniCalendar .days>*:nth-child(33) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

.miniCalendar .days>*:nth-child(34) {
  -ms-grid-row: 5;
  -ms-grid-column: 6;
}

.miniCalendar .days>*:nth-child(35) {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
}

.miniCalendar .days>*:nth-child(36) {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
}

.miniCalendar .days>*:nth-child(37) {
  -ms-grid-row: 6;
  -ms-grid-column: 2;
}

.miniCalendar .days>*:nth-child(38) {
  -ms-grid-row: 6;
  -ms-grid-column: 3;
}

.miniCalendar .days>*:nth-child(39) {
  -ms-grid-row: 6;
  -ms-grid-column: 4;
}

.miniCalendar .days>*:nth-child(40) {
  -ms-grid-row: 6;
  -ms-grid-column: 5;
}

.miniCalendar .days>*:nth-child(41) {
  -ms-grid-row: 6;
  -ms-grid-column: 6;
}

.miniCalendar .days>*:nth-child(42) {
  -ms-grid-row: 6;
  -ms-grid-column: 7;
}

.miniCalendar .days .dayMini-calendar {
  border-radius: 50%;
  cursor: pointer;
  text-decoration: none;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.miniCalendar .days .dayMini-calendar:hover {
  background: var(--gray10);
}